# Executaveis
*.exe
main
simulador

# Arquivos comprimidos
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# MP
*.gc*
*.o

# SSTD
.ipymb_checkpoints/**

# TR1
*.d

# Mac
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride